.layout-section .layout-builder--layout__region-locked {
  outline: 2px dashed #da2f3b;
}

.layout-section .layout-builder--layout__region-locked .add-block {
  background-color: #f1b1b5;
  padding: 1.5em 0;
  text-align: center;
}

.layout-section .layout-builder--layout__region-locked .block {
  padding: 1.5em;
}
